@import 'variables';


.prompt{
	text-align:center;
	font-size: $prompt-text-size;
	padding: $prompt-padding;
}


.prompt-button{
	width:$prompt-button-width;
}

.section{
	border-bottom:solid 1px red;
}

.section-title{
	font-size:24px;
	margin-top:5px;
}