@import 'variables';


.prompt{
	text-align:center;
	font-size: $prompt-text-size;
	padding: $prompt-padding;
}


.prompt-button{
	width:$prompt-button-width;
	background:$prompt-button-color;
}

.section{
	font-size:$section-font-size;
	padding:5px;
}

.section-title{
	font-size:24px;
	margin-top:5px;
	padding-top:10px;
	padding-bottom:5px;
	border-bottom:solid 1px lightgrey;

	
}

.entry-header{
	padding:5px;
}

.article{
	background:$article-background-colour;
	-webkit-box-shadow: 0px 0px 82px 11px rgba(0,0,0,0.16);
-moz-box-shadow: 0px 0px 82px 11px rgba(0,0,0,0.16);
box-shadow: 0px 0px 82px 11px rgba(0,0,0,0.16);
}