@import 'variables';

.homeicon{
	height:200px;
	background:$article-background-colour;
	-webkit-box-shadow: 0px 0px 82px 11px rgba(0,0,0,0.16);
	-moz-box-shadow: 0px 0px 82px 11px rgba(0,0,0,0.16);
	box-shadow: 0px 0px 82px 11px rgba(0,0,0,0.16);
	margin:20px;
}

.homethumb{
	padding:0px;
	margin:0px;
}

.homeposts{
	margin-left:25px;
}
.homethumb-title{
	text-align:center;
	padding:0;
	mmargin-top:4px;
}
.homesearch{
	height:50px;
	background:$article-background-colour;
	-webkit-box-shadow: 0px 0px 82px 11px rgba(0,0,0,0.16);
	-moz-box-shadow: 0px 0px 82px 11px rgba(0,0,0,0.16);
	box-shadow: 0px 0px 82px 11px rgba(0,0,0,0.16);
	margin-right:30px;
	margin-top:20px;
}